body{
    background-color: grey;
    color: white;
}
h1{
    text-align: center;
}
.container{
    border: 1px solid white;
    margin: 10px;
    min-height: 120px;
}
.formdiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

