body{
    background-color: rgb(180, 179, 179);
    color: black;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border: none;
    width: 45%;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
}
button{
    border: none;
    margin-right: 30px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(205, 205, 205);   
    box-shadow: 1px 1px 5px black;
}
.container{
    border: 1px solid black;
    margin: 10px;
    min-height: 500px;
    border-radius: 5px;
}
.formdiv{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
ul{
    list-style: none;
}
.container li{
    background-color: rgb(205, 205, 205) ;
    border: 1px grey;
    box-shadow: 1px 1px 5px black;
    margin-right: 5% ;
    margin-left: 5%;
    border-radius: 3px;
    min-height: 50px;
    text-align:center;
    color: black;
    margin-bottom: 10px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.delbtn{
    background-color: red;
}
.createbtn{
    background-color: #66FF00;
}
.liel{
    display: flex;
    justify-content: end;
    align-items: center;
}